# Frontend Configuration
# Used by import-meta-env at runtime

VITE_API_BASE_URL=http://localhost:3001/api
VITE_MSAL_CLIENT_ID=enter-your-entra-id-client-id-here
VITE_MSAL_TENANT_ID=enter-your-entra-id-tenant-id-here
VITE_MSAL_REDIRECT_URI=http://localhost:5173/

# Add any custom runtime configurations here
