# Azure Storage connection defaults for local Azurite emulator
AZURE_STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true
AZURE_STORAGE_ACCOUNT_NAME=devstoreaccount1
AZURE_STORAGE_ACCOUNT_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==

# Table and Container Names
AZURE_TABLE_NAME=UploadRequestsV2
AZURE_BLOB_CONTAINER_NAME=uploads

# Server Port
PORT=3001

# GCNotify
GCNOTIFY_API_KEY=mock-key-for-local-dev
